name: Build EXE with PyInstaller

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pyinstaller tqdm telethon

    - name: Build EXE
      run: |
        pyinstaller --onefile --name extractor main.py

    - name: Upload EXE artifact
      uses: actions/upload-artifact@v3
      with:
        name: telegram-extractor
        path: dist/extractor.exe
